<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User List</title>
</head>
<body>
    <h1>User List</h1>
    <ul>
        <% if (userList && userList.length > 0) { %>
            <% userList.forEach(function(user) { %>
                <li><%= user.username %></li>
            <% }) %>
        <% } else { %>
            <li>No users found</li>
        <% } %>
    </ul>
</body>
</html>
